
<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this search from running:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- request fields are state, lccn (publication), andtext, ortext, phrasetext, datefiltertype, date1, date2 -->

 <p>Specify a range of years or exact dates</p>
  <div class="field">
  <%= f.label :year1 %><br>
  <%= f.select :year1, (1836..1922) %>
</div>
  <div class="field">
  <%= f.label :month1 %><br>
  <%= f.select :month1, (1..12) %>
</div>
  <div class="field">
  <%= f.label :day1 %><br>
  <%= f.select :day1, (1..31) %>
</div>
  <div class="field">
  <%= f.label :year2 %><br>
  <%= f.select :year2, (1836..1922), :selected => 1922 %>
</div>
  <div class="field">
  <%= f.label :month2 %><br>
  <%= f.select :month2, (1..12), :selected => 12 %>
</div>
  <div class="field">
  <%= f.label :day2 %><br>
  <%= f.select :day2, (1..31), :selected => 31 %>
</div>

<p>(Optional) Search by keyword</p>
  <div class="field">
    <%= f.label "Contains ALL of keywords" %><br>
    <%= f.text_area :andtext %>
  </div>
  <div class="field">
    <%= f.label "Contains any of the keywords" %><br>
    <%= f.text_area :ortext %>
  </div>
  <div class="field">
  <%= f.label "Contains the phrase" %><br>
  <%= f.text_area :phrasetext %>
</div>

<p>(Optional) Narrow results by state or newspaper</p>

  <div class="field">
    <%= f.label "State" %>
    <%= f.select :state, Publication.uniq.pluck(:state), :include_blank => true %>
    <%= f.label "Newspaper Title" %>
    <%= f.select :lccn, Publication.all.collect { |p| [p.title, p.lccn] }, :include_blank => true %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>