
<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this search from running:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- request fields are state, lccn (publication), andtext, ortext, phrasetext, datefiltertype, date1, date2 -->

 <p>Choose dates</p>
<div class="field">
    <%= f.label "Date filter type" %><br>
    <%= f.radio_button(:datefiltertype, "yearRange", :checked => true) %>
    <%= f.label :datefiltertype_yearRange, "year range" %>
  </div>
  <div class="field">
  <%= f.label :date1 %><br>
  <%= f.number_field( :date1, in: 1836..1922) %>
</div>
  <div class="field">
  <%= f.label :date2 %><br>
  <%= f.number_field( :date2, in: 1836..1922) %>
</div>

<p>(Optional) Keyword search</p>
  <div class="field">
    <%= f.label "Contains ALL of keywords" %><br>
    <%= f.text_area :andtext %>
  </div>
  <div class="field">
    <%= f.label "Contains any of the keywords" %><br>
    <%= f.text_area :ortext %>
  </div>
  <div class="field">
  <%= f.label "Contains the phrase" %><br>
  <%= f.text_area :phrasetext %>
</div>

<p>(Optional) Narrow results by state or newspaper</p>

  <div class="field">
    <%= f.label "State" %>
    <%= f.text_area :state %>
    <%= f.label "Newspaper Title/LCCN" %>
    <%= f.text_area :lccn %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>