<h2> Lists all requests created. Eventually this will show only the current users' requests </h2>

<% @requests.each do |r| %>
	<p><%= "Request #{r.id}" %></p>
	<ul>
		<li><%= "date1: #{r.year1} - #{r.month1} - #{r.day1}" %></li>
		<li><%= "date2: #{r.year2} - #{r.month2} - #{r.day2}" %></li>
		<li><%= "andtext: #{r.andtext}" %></li>
		<li><%= "ortext: #{r.ortext} " %></li>
		<li><%= "phrasetext: #{r.phrasetext}" %></li>
		<li><%= "state: #{r.state}" %></li>
		<li><%= "publication id: #{r.lccn} " %></li>
		<li><%= "created at: #{r.created_at}" %></li>
	</ul>
<% end %>