<div class ="pull-right">
	<a href="/requests/new" class="btn btn-primary" role="button" margin-top="20">New Search</a>
</div>

<h1>Search results</h1>
<% months = [nil,"January","February","March","April","May","June","July","August","September","October","November","December"] %>
<p><em><%= "Dates: #{months[@request.month1]} #{@request.day1}, #{@request.year1} - #{months[@request.month2]} #{@request.day2}, #{@request.year2}" %></em></p>
<% if @request.andtext != "" || @request.ortext != "" || @request.phrasetext != "" %>
	<p><em><%= "Keyword: #{@request.andtext} #{@request.ortext} #{@request.phrasetext}" %></em></p>
<% end %>
<% if @request.state != "" %>
	<p><em><%= "State: #{@request.state}" %></em></p>
<% end %>
<% if @request.lccn != "" %>
	<p><em><%= "Publication: #{Publication.find_by(lccn: @request.lccn).title}" %></em></p>
<% end %>
<br>
<p><%= "Displaying results #{@pageindex1} through #{@pageindex2} of #{@total_pages}" %></p> 


<div class="row">

	<% @pages.each do |p| %>
		<div class="col-md-4 page-wrapper">
			<% pub_name = Publication.find_by(lccn: p.lccn).title %>
			<% months = [nil,"January","February","March","April","May","June","July","August","September","October","November","December"] %>
			<% month = months[p.month] %>
			<% text_url = p.img_url[0,(p.img_url.length - 4)] + "/ocr/" %>
			<% loc_url = p.img_url[0,(p.img_url.length - 4)] + "/" %>
			<% thumbnail_url = "http://chroniclingamerica.loc.gov/lccn/#{p.lccn}/#{p.datefield}/ed-#{p.ed}/seq-#{p.seq}/thumbnail.jpg" %>
			<% highlight_keyword = [] %>
			<% highlight_keyword = highlight_keyword + (@request.andtext.split('+')) %>
			<% highlight_keyword = highlight_keyword + (@request.ortext.split('+')) %>
			<% highlight_keyword = highlight_keyword + (@request.phrasetext.split('+')) %>
			<div class="thumbnail">
				<%= link_to(image_tag("http://chroniclingamerica.loc.gov/lccn/#{p.lccn}/#{p.datefield}/ed-#{p.ed}/seq-#{p.seq}/thumbnail.jpg", title:"#{p.id}"), "#{p.img_url}", :target => "blank") %>
					<div class="caption">
						<!-- Thumbnail caption and page information -->
						<h6><strong><%= "#{pub_name}" %></strong></h6>
						<h6><%= "#{month} #{p.day}, #{p.year}; Page #{p.seq}" %></h6>
						<!-- links and triggers -->
						<% if user_signed_in? %>
							<p><a data-toggle="modal" href="#{text_url}" data-target="#textModal">OCR text</a> | <%= link_to "Read on LOC", "#{loc_url}", :target => "blank" %></p><%= button_to "Save", { :controller => "saves", action: "create", user_id: current_user.id, page_id: p.id }, remote: true, data: {confirm: "Save this page?" }, :id => "save-button-#{p.id}" , :class => "btn btn-default btn-sm" %>
						<% else %>
							<p><a data-toggle="modal" href="#{text_url}" data-target="#textModal">OCR text</a> | <%= link_to "Read on LOC", "#{loc_url}", :target => "blank" %></p>
						<% end %>
						<!-- OCR modal -->
						<div class="modal fade" id="textModal" tab-index="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									</div>
									<div class="modal-body">
										<% if p.ocr_text != nil %>
											<p><%= highlight(sanitize(p.ocr_text), highlight_keyword, :highlighter => '<mark class="mark-text">\1</mark>') %></p>
										<% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	<% end %>
	
</div>

<% if @total_pages > 20 %>
	<div class="btn btn-default" role="button"><%= link_to "Next page" , "/results/#{@request.id}/page/2" %></div>
<% end %>

<br>
<br>

